<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
   <meta charset="utf-8">
   <title>Calcular Idade</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
   <form action="/calcular_idade" method="POST">
       <label>Digite seu ano de nascimento: </label>
       <input type=number name="ano" id="ano" placeholder="Ex.: 2000">
       <button type="submit">Calcular Idade</button>
   </form>
   <div class="resultado">
       <h2><strong>Idade: {{ idade }}</strong></h2>
   </div>
</body>
</html>